<aside class="sidebar col-md-3">
    <h2>Getting Started</h2>
    <ul>
        <li>
            <a class="" href="/docs/">Introduction</a>
        </li>
        <li>
            <a class="" href="/docs/installation">Installation</a>
        </li>
        <li>
            <a class="" href="/docs/">Extending</a>
        </li>
        <li>
            <a class="" href="/docs/">Deploying</a>
        </li>
    </ul>
    <h2>Setting Up</h2>
    <ul>
        <li>
            <a class="" href="/docs/mls_configuration">MLS Analysis</a>
        </li>
        <li>
            <a class="" href="/docs/mls_configuration">Data Mapping</a>
        </li>
        <li>
            <a class="" href="/docs/mls_setup">RETS Credentials</a>
        </li>
        <li>
            <a class="active" href="/docs/poller">Change Monitoring</a>
        </li>
        <li>
            <a class="" href="/docs/mls_configuration">Normalizing Data</a>
        </li>
    </ul>
    <h2>Extending Functionality</h2>
    <ul>
        <li>
            <a class="" href="/docs/mapping-data/properties">Service Model</a>
        </li>
        <li>
            <a class="" href="/docs/mapping-data/agents">Change Events</a>
        </li>
        <li>
            <a class="" href="/docs/mapping-data/offices">Examples</a>
        </li>
    </ul>
    <h2>The Services</h2>
    <ul>
        <li>
            <a class="" href="/docs/mapping-data/properties">Change Poller</a>
        </li>
        <li>
            <a class="" href="/docs/mapping-data/agents">RETS Gateway</a>
        </li>
        <li>
            <a class="" href="/docs/mapping-data/offices">Settings API</a>
        </li>
        <li>
            <a class="" href="/docs/mapping-data/openhomes">Elasticsearch</a>
        </li>
        <li>
            <a class="" href="/docs/mapping-data/tours">RabbitMQ</a>
        </li>
    </ul>
    <h2>Our Concepts</h2>
    <ul>
        <li>
            <a class="" href="/docs/mapping-data/properties">Coding Standards</a>
        </li>
        <li>
            <a class="" href="/docs/mapping-data/agents">Using Containers</a>
        </li>
        <li>
            <a class="" href="/docs/mapping-data/offices">Automated Tests</a>
        </li>
        <li>
            <a class="" href="/docs/mapping-data/openhomes">Code Coverage</a>
        </li>
        <li>
            <a class="" href="/docs/mapping-data/tours">GitFlow</a>
        </li>
    </ul>
</aside>